
<!-- <h1>Event Search Bot</h1>

	<div style="
    left:125px;
    right:160px;" class="chat-container">
	<ng-container  *ngFor="let message of messages | async">

	  <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
	                                    'to':   message.sentBy === 'user' }">
	    {{ message.content }}
	  </div>

	</ng-container>
	
	<div class="chat-footer-container">
		<label for="nameField">Your Message</label>
		<input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">
		<button (click)="sendMessage()">Send</button>
	</div>
	<div>
 -->


<div class="main_wrapper">
<div id="frame">
	<div class="content">
		<div class="contact-profile">
			<!-- <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" /> -->
			<p> Event Search Bot</p>
			<!-- <div class="social-media">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				 <i class="fa fa-instagram" aria-hidden="true"></i>
			</div> -->
		</div>
 
		<div class="messages" #scrollMe>
      
			<div *ngFor="let message of messages | async">
				<div   [ngClass]="{'sent': message.sentBy === 'bot', 'replies': message.sentBy === 'user'}" style="margin-bottom: 42px;">
					<img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
					<p *ngIf="message.content !=''">{{message.content}}</p>

        
          <app-slider *ngIf="message.events.length > 0">
            <div *ngFor="let ev of chat.eventsSearched" appSliderItem style="width: 300px;
                height: 350px;
                margin: 0px 2px 0px 2px;">
              <mat-card class="example-card">
                <mat-card-header>
                  <!-- <div mat-card-avatar class="shiba-header-image"></div> -->
                  <mat-card-title>{{ev.name.text}}</mat-card-title>
                  <!-- <mat-card-subtitle>{{ev.summary}}</mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image src="{{ev.logo && ev.logo.url ? ev.logo.url:'' }}" alt="Photo of the event" style="    min-width: 300px;border-radius: 0%;">
                <mat-card-content>
                  <span>
                   {{ev.summary}}
                  </span>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button (click)="bookTicketRedirect($event, ev.url)">Buy Tickets</button>
                 <!--  <button mat-button>SHARE</button> -->
                </mat-card-actions>
              </mat-card>
            </div>
          </app-slider>
   
				</div>

			</div>
      
    </div>

      
   

		<div class="message-input">
      <mat-chip-list style="">
        <mat-chip style="background-color:#767777" *ngFor="let chip of chat.chips" [selected]="chip" (click)="clickChip($event, chip)">{{chip}}</mat-chip>
      </mat-chip-list>
			<div class="wrap">
				<input type="text" placeholder="Write your message..." [(ngModel)]="formValue" (keyup.enter)="sendMessage()" />
				<button class="submit" (click)="sendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>
</div>