/*.message {
    border-radius: 50px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 300px;
    text-align: right;
}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 300px;

}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}*/

.chat-footer-container {
    position:fixed;
    bottom:25px;
    left:125px;
    right:160px;
}
h1 {
    font-size: 2.6rem;
    line-height: 2.2;
    background-color: #9b4dca;
    color: white;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.chat-container {
    position: fixed;
    height: 100%;  
}

.main_wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.main_wrapper #frame{
  max-width: 500px;
}

.main_wrapper #frame .content{
  width: 100%;
}



#talkchat{z-index: 999997;
    cursor: pointer;
    height: 40px;
    width: 348px; margin: 0px !important;
    top: auto !important;
    bottom: 0px !important;
    right: 25px !important;
    left: auto !important;
    display: block; background: #01663a; position: fixed; border-radius: 150px;}
#talkchat p{font-size: 17px; vertical-align: middle; color: #fff; text-align: center; line-height: 40px;}
#chatconnect{width: 348px; height: 548px; display: none; position: fixed; top: auto !important;
    bottom: 0px !important;
    right: 25px !important; overflow: hidden;
    left: auto !important; z-index: 999999;transition: all 300ms ease-in-out;box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    }
#chatconnect iframe{width: 348px; height: 548px; }

/*Chat Iframe*/
.noPadding{padding: 0 !important;}
div.conv-form-wrapper div.options div.option{border: 1px solid rgb(1, 102, 58); color: #01663a}
#demo .card header{height: 50px; padding : 0 !important; background : #fff;}
#demo .card header div{text-align: center; margin: 0px auto;}
#demo .card header div img{height: 40px; margin: 5px;}
#demo .card header div.closeChat{position: fixed;
    /* right: 0px; */
    width: 20px;
    height: 20px;
    top: 12px;
    right: 20px;}
#demo .card header div.closeChat img{
    width: 20px;
    height: 20px;}
div.conv-form-wrapper div.wrapper-messages{margin-top: 0;background: #f0f3f6; height: calc(100vh - 48px);}
form.convFormDynamic{margin: 50px 0 50px 15px ; box-shadow: none;}
.menu-button, .close-button{margin: 10px 15px 10px 15px;}
div.conv-form-wrapper div.wrapper-messages {
    margin-top: 0;
    background: #f0f3f6;
    /* height: calc(100vh - 48px); */
    /* height: calc(595px - 50px); */
    top: 50px;
    height: 450px;
    overflow: scroll !important;
    position: relative;
    width: 100%;
}
/*div.conv-form-wrapper div#messages {
     -webkit-transition: bottom 0.15s, padding-bottom 0.15s; 
    -o-transition: bottom 0.15s, padding-bottom 0.15s;
     transition: bottom 0.15s, padding-bottom 0.15s; 
     position: absolute; 
     bottom: 0; 
     height: auto !important; 
    width: 96%;
     padding-bottom: 20px; 
     max-height: 71vh; 
     height: 100%; 
     height: 450px !important; 
    max-height: 400px;
    overflow-y: auto !important;
}*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #27ae60;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: #32465a;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
}

#frame {
  width: 95%;
  min-width: 360px;
  max-width: 1000px;
  height: 92vh;
  min-height: 300px;
  max-height: 720px;
  background: #E6EAEA;
}
@media screen and (max-width: 360px) {
  #frame {
    width: 100%;
    height: 100vh;
  }
}

#frame .content {
  float: right;
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame .content {
    width: calc(100% - 58px);
    min-width: 300px !important;
  }
}
@media screen and (min-width: 900px) {
  #frame .content {
    width: calc(100% - 340px);
  }
}
#frame .content .contact-profile {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #f5f5f5;
}
#frame .content .contact-profile img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin: 9px 12px 0 9px;
}
#frame .content .contact-profile p {
  float: left;
}
#frame .content .contact-profile .social-media {
  float: right;
}
#frame .content .contact-profile .social-media i {
  margin-left: 14px;
  cursor: pointer;
}
#frame .content .contact-profile .social-media i:nth-last-child(1) {
  margin-right: 20px;
}
#frame .content .contact-profile .social-media i:hover {
  color: #435f7a;
}
#frame .content .messages {
  width:100%;
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
  #frame .content .messages {
    max-height: calc(100% - 105px);
  }
}
#frame .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
/*#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
#frame .content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
#frame .content .messages ul li.sent img {
  margin: 6px 8px 0 0;
}
#frame .content .messages ul li.sent p {
  background: #435f7a;
  color: #f5f5f5;
}
#frame .content .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
#frame .content .messages ul li.replies p {
  background: #f5f5f5;
  float: right;
}
#frame .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
#frame .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}
@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
    max-width: 300px;
  }
}*/
#frame .content .messages div div {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
#frame .content .messages div div:nth-last-child(1) {
  margin-bottom: 20px;
}
#frame .content .messages div pdivsent img {
  margin: 6px 8px 0 0;
}
#frame .content .messages div div.sent p {
  background: #435f7a;
  color: #f5f5f5;
}
#frame .content .messages div div.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
#frame .content .messages div div.replies p {
  background: #f5f5f5;
  float: right;
}
#frame .content .messages div div img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
#frame .content .messages div div p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}
@media screen and (min-width: 735px) {
  #frame .content .messages div div p {
    max-width: 300px;
  }
}

#frame .content .message-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
#frame .content .message-input .wrap {
  position: relative;
}
#frame .content .message-input .wrap input {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  width: calc(100% - 90px);
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  color: #32465a;
  background: whitesmoke;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap input {
    padding: 15px 32px 16px 8px;
  }
}
#frame .content .message-input .wrap input:focus {
  outline: none;
}
#frame .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: .5;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}
#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}
#frame .content .message-input .wrap button {
  float: right;
  border: none;
  width: 50px;
  padding: 12px 0;
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap button {
    padding: 16px 0;
  }
}
#frame .content .message-input .wrap button:hover {
  background: #435f7a;
}
#frame .content .message-input .wrap button:focus {
  outline: none;
}







/*
*/
p {
  font-family: Lato;
}

.example-card {
    width: 300px;
    height: 350px;
    margin: 0px 2px 0px 2px;
}

[appSliderItem] {
  flex-shrink: 0;
}

.shiba-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.akita-header-image {
  background-image: url('https://cdn1-www.dogtime.com/assets/uploads/gallery/akita-dogs-and-puppies/akita-dogs-puppies-4.jpg');
  background-size: cover;
}


.chow-chow-header-image {
  background-image: url('https://cdn1-www.dogtime.com/assets/uploads/gallery/chow-chow-dog-breed-pictures/2-laying.jpg');
  background-size: cover;
}



 mat-card {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
  }
  mat-card-header {
    background-color: #116a94;
    color: white;
    height: 50px;
    width: 100%;
  }

  .container {
    background-color: #87b6bd;
    width: 100%;
  }
  mat-card-title {
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }

.mat-card-header .mat-card-title {
    font-size: 16px;
}

.mat-card-image {
    width: calc(100% + 32px);
    margin: 0px -16px 16px 0px;
}
.mat-card-content, .mat-card-subtitle {
    font-size: 12px;
}

.mat-card-actions {
    margin-left: -8px;
    margin-right: -8px;
    padding: 8px 0;
    text-align: center;
}

  /*div {
    width: 100%;
  }*/
